@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-family: "Open Sans", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}

a {
  text-decoration: none;
  color: black;
}

.nav {
  background-color: #2b2d42;
  color: white;
  padding: 1rem;
  width: 100%;
}

.nav-links {
  display: flex;
  flex-direction: row;
}

.nav-item {
  color: white;
  display: inline-block;
  padding: 0.5rem;
  font-size: 1em;
}

.nav-item:hover {
  background-color: white;
  color: black;
  border-radius: 5px;
}

.logout {
  color: black;
  padding: 0.5rem;
  font-size: 1em;
  border-radius: 5px;
  border: none;
}

.product {
  background-color: whitesmoke;
  width: 100%;
  max-width: 500px;
  padding: 1rem;
  margin: 1rem;
  box-shadow: 10px 10px 25px 0px rgba(0, 0, 0, 0.21);
}

.input {
  padding: 0.5rem;
  width: 96%;
  margin: 0px 0px 10px;
  border: 1px solid lightgrey;
}

.loading {
  width: 120px;
  height: 120px;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: fixed;
}

form {
  padding: 1rem;
  max-width: 500px;
  margin: 0 auto;
  border: none;
  width: 100%;
}

.update {
  border: none;
  background-color: green;
  font-weight: bold;
  color: white;
  cursor: pointer;
  padding: 0.3rem;
  margin: 1rem;
}

.add {
  border: none;
  background-color: green;
  font-weight: bold;
  color: white;
  cursor: pointer;
  padding: 0.3rem;
  margin: 1rem;
}

.delete {
  border: none;
  background-color: red;
  font-weight: bold;
  color: white;
  cursor: pointer;
  padding: 0.3rem;
  margin: 1rem;
}

.buttons {
  display: flex;
  flex-direction: row;
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
    margin: 0 auto;
    padding: 1rem;
  }
  .product {
    padding: 1rem;
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 1rem;
  }
  .nav {
    display: flex;
    flex-direction: column;
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    margin: 1rem;
  }

  .buttons {
    flex-direction: column;
  }

  .logout {
    margin-top: 1rem;
  }
}
